@model IEnumerable<nhH60Store.Models.ProductCategory>


<main>

    <h2 class="page-title">Categories</h2>

    <a title="Create New" class="btn btn-success" href="@Url.Action("Create", "ProductCategory")"><img src="~/Images/plus-lg.svg" alt="plus icon" class="addNewImg"></a>

    @*Source: https://icons.getbootstrap.com/icons/plus-lg/*@

    <div class="messages">
        @if (TempData["ErrorMessage"] != null) {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>


    <div id="allCategories">
        @foreach (var x in Model) {
            <div class="card">
                <h5 class="card-title">
                    <a title="@x.ProdCat products" href="@Url.Action("ProductsForCategory", "ProductCategory", new { id = x.CategoryId })" class="categoryName">@x.ProdCat products</a><br />
                </h5>
                <p>
                    <a title="Update Category" href="@Url.Action("Update", "ProductCategory", new { id = x.CategoryId })"><img src="~/Images/pencil.svg" alt="update product icon" /></a>
                    <a title="Delete Category" href="@Url.Action("Delete", "ProductCategory", new { id = x.CategoryId  })"><img src="~/Images/trash.svg" alt="delete category icon" /></a>
                </p>
            </div>
        }
    </div>

    @*Image Sources:
        https://icons.getbootstrap.com/icons/pencil/
        https://icons.getbootstrap.com/icons/trash/*@

</main>