@inject nhH60Store.Models.FormattingService DisplayFormat
@model nhH60Store.Models.Customer


@await Html.PartialAsync("_MessageDisplays")


<div class="card customer-details">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
        <p class="card-text">
            <span class="font-weight-bold">Email: </span><span>@Model.Email</span><br /><br />
            <span class="font-weight-bold">Phone Number: </span><span>@DisplayFormat.PhoneFormat(@Model.PhoneNumber)</span><br /><br />
            <span class="font-weight-bold">Province: </span><span>@DisplayFormat.DisplayProvince(@Model.Province)</span><br /><br />
            <span class="font-weight-bold">Credit Card: </span><span>@DisplayFormat.DisplayCreditCard(@Model.CreditCard)</span><br /><br />
        </p>
        <a class="btn btn-primary" href="@Url.Action("Index", "Customer")">Go Back</a>
    </div>
</div>